<div class="container text-center">

  <div class="row">
    <div class="col-md-5 col-md-offset-4">
      <%= form_for @user do |f| %>
          <div class="form-group">
            <%= f.text_field :name, placeholder: "name", class: "form-control" %><br>

            <%= f.text_field :email, placeholder: "email", class: "form-control" %><br>

            <%= f.password_field :password, placeholder: "password", class: "form-control" %><br>

            <%= f.password_field :password_confirmation, placeholder: "confirm password", class: "form-control" %><br>

            <%= f.submit class: "btn btn-lg btn-success" %>
          </div>
      <% end %>
    </div>
  </div>
</div>
