<%= render 'location_search' %>

<%= form_for @event do |f| %>

  <p>
    <%= f.text_field :name, placeholder: "Event Name", size: 50 %>
  </p>

  <p>
    <%= f.text_field :location, placeholder: "Location", id: 'searchTextField', size: 50 %>
  </p>

  <p>
    <%= f.datetime_select :start_time, :ampm => true, :minute_step => 15 %>
  </p>

  <p>
    <%= f.submit class: "btn btn-lg btn-success btn-fill" %>
  </p>

<% end %>
